$checkout-button-color: #4F73E6;
$button-text-color: #fff;

.checkoutButton {
    width: 100%;
    height: 65px;
    border-radius: 5px;
    background-color: $checkout-button-color;
    color: $button-text-color;
    font-size: 1.1em;
    font-weight: 500;
}

@media screen and (max-width: 500px) {
    .checkoutButton {
        font-size: 0.8em;
    }
}
