// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

// .footbar {
//   //   height: 20vh;
//   width: 100%;
//   padding: 40px 20px 0 20px;
//   //   position: fixed;
//   //   bottom: 0;
//   //   left: 0;
//   //   color: #fff;
//   background-color: #000;
//   //   display: flex;
//   //   flex-direction: column;
//   //   justify-content: space-between;
//   //   padding: 5vh 5vw;
//   //   font-size: 1.2em;
//   //   align-items: center;
// }

// .footbar__top {
//   display: flex;
//   justify-content: space-between;
//   align-items: flex-start;
// }

// .footbar__bottom {
//   font-size: 10px;
//   color: white;
//   font-weight: 400;
//   display: flex;
//   flex-direction: row;
//   border-top: 1px solid #222;
//   padding: 8px;
// }

// .copyright {
//   color: #7e7e7e;
//   margin-left: 20px;
// }

// .helpLink .social {
//   flex: 1;
// }

// .helpLink {
//   color: white;
//   max-width: 200px;
//   display: flex;
//   flex-wrap: wrap;
//   padding: 6px 0 20px 0;
// }

// .helpLink a {
//   width: 100%;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: 400;
//   font-size: 14px;
//   margin-bottom: 4px;
// }

// .social ul {
//   display: flex;
//   flex-direction: row;
//   // padding: 20px 100px;
// }

// ul {
//   list-style: none;
// }

// .social li {
//   margin-left: 16px;
// }

// .social a {
//   color: #7e7e7e;
//   font-size: 30px;
// }

/******** New Footer ********/
$primary-text-color: #ffa300;

#footer {
  background-color: #141922;

  a {
    cursor: pointer;
  }
}

.footerTop {
  max-width: 1170px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 40px 0 20px 0;
  display: flex;
  flex-direction: row;
}

.footerMenu {
  width: calc(100% - 270px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.paymentInfo {
  width: 270px;

  div {
    color: #b3b3b3;
    font-weight: bold;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-size: 14px;
  }

  img {
    width: 100%;
  }
}

.footerMenuList {
  display: flex;
  flex-direction: column;
  color: #b3b3b3;
  font-size: 14px;

  div {
    font-weight: bold;
    padding-bottom: 16px;
    text-transform: uppercase;
  }

  li {
    a {
      &::before {
        content: '>';
        padding-right: 12px;
      }
    }
  }
}

.footerListItem {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footerBottomInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  flex-direction: column;
}

.socialIconBox {
  li {
    list-style: none;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid $primary-text-color;
    border-radius: 3px;
    margin-right: 10px;
    font-size: 10;
    cursor: pointer;
    position: relative;

    &:last-child {
      margin-right: 0;
    }
  }
}

.socialIcon {
  color: $primary-text-color;
}

.copyright {
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 15px;
}
