$title-text-color:lighten(#A5A8B1, 20%);
$label-text-color: #A5A8B1;
$input-text-color: lighten(#A5A8B1, 25%);
$background-color: #2B3344;
$delivery-bg-color: #1F2635;
$header-color: #E59200;

@mixin label() {
    display: block;
    color: $label-text-color;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin input() {
    background-color: $background-color;
    color: $input-text-color;
    font-size: 1.4em;
    font-family: 'Roboto';
    border: none;
    border-bottom: 1px solid $title-text-color;
    line-height: 1.7em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

.payment {
    display: flex;
    justify-content: center;
    padding: 3em 0;  
}

.payment__container {
    width: 65%;
    display: flex;
    justify-content: center;
}

.payment__cart {
    padding: 2em 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment__total--container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3em;
}

.payment__total--content {
    padding: 0.7em 1.2em;
    text-align: center;
    right: 0px;
    bottom: 0px;
    h2 {
        font-size: 1.2em;
        text-transform: uppercase;
        color: $title-text-color;
        font-family: Arial, Helvetica, sans-serif;
    }
    p {
        font-size: 2.1em;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        color: $title-text-color;
    }
}

.payment__cart--title {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
}

.payment__delivery {
    width: 55%;
    padding: 3em 3.5em; 
    background-color: $delivery-bg-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment__delivery--header {
    color: $header-color;
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.5px;
    margin-bottom: 3em;
}

.payment__delivery--label{
    color: $label-text-color;
    font-weight: 400;
    font-size: 1.05em;
} 

.payment__delivery--detail {
    margin-top: 2em;    
    input {
        width: 100%;
        @include input();
        font-size: 1.1em;
        border: none;
        padding: 0.4em;
    }
    textarea {
        width: 100%;
        @include input();
        font-size: 1.1em;
        border: none;
        padding: 0.4em;
        height: 120px;
    }
}

.payment__delivery--notice {
    color: $title-text-color;
}

.payment__delivery--notice {
    margin-top: 2em;
}

.payment__delivery--first-para {
    margin-top: 1.5em;
    p {
        margin: 0;
    }
}

.payment__delivery--second-para {
    margin-top: 1.5em;
}

.payment__panels {
    width: 45%;
}

.payment__checkout-panel {
    background-color: $background-color;
    padding: 3em 3.5em;
    height: 100%;
}

.payment__title {
    color: $title-text-color;
    font-weight: 500;
    font-size: 1.95em;
    letter-spacing: 2px;
    margin-bottom: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.payment__details--basic {
    margin-bottom: 4em;
}

.payment__detail {
    margin-bottom: 1.5em;
    label {
        @include label();
    }
    input {
        @include input();
        width: 100%
    }
}

.payment__region {
    select {
        @include input();
        font-size: 1.2em;
        width: 100%;
    }
}

.payment__checkout-button {
    margin-top: 3em;
}

.payment__detail-card {
    border-bottom: 1px solid $title-text-color;
    padding-bottom: 0.5em;
}

.payment__card-label {
    @include label()
}

.payment__success {
    height: 100%;
    background-color: $background-color;
    color: $title-text-color;
    padding: 7em 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment__success--header {
    h1 {
        font-size: 2.7em;
        font-weight: 500;
        margin-bottom: 0.65em;
        letter-spacing: 3px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    h2 {
        font-size: 2.0em;
        font-weight: 400;
        line-height: 1.35em;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.payment__success--link {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    font-size: 1.7em;
    letter-spacing: -0.5px;
    margin-bottom: 0.4em;
}

.payment__success--link li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

.payment__success--link li:first-child a {
    color: $title-text-color;
    font-family: Arial, Helvetica, sans-serif;
}

.payment__success--link li:last-child a {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

.payment__success--text {
    font-size: 1.5em;
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 1270px) {

    .payment__container {
        width: 100%;
    }

    .payment__cart {
        width: 90%;
        margin: 3em auto;
    }

    .payment__success {
        padding: 4.5em 2.5em;
    }

    .payment__success--link {
        width: 85%;
    }

    .payment__success--header {
        h1 {
            font-size: 3.05em;
        }
        h2 {
            font-size: 1.9em;
        }
    }

    .payment__title {
        font-size: 1.7em;
    }

    .payment__detail {
        label {
            font-size: 1.1em;
        }
        input {
            font-size: 1.2em;
        }
    }

    .payment__region {
        label {
            font-size: 1.1em;
        }
        select {
            font-size: 0.95em;
        }
    }

    .payment__cart--container {
        margin-bottom: 2em;
    }
}

@media screen and (max-width: 768px) {

    .payment__cart {
        width: 90%;
        margin: 3em auto;
    }

    .payment__container {
        display: block;
        width: 90%;
    }

    .payment__panels {
        width: 100%;
    }

    .payment__delivery {
        margin-bottom: 3em;
        width: 100%;
    }

    .payment__cart--title {
        font-size: 1.2em;
    }

    .payment__total--content {
        h2 {
            font-size: 1.2em;
        }
        p {
            font-size: 1.5em;
        }
    }

    .payment__success {
        width: 100%;
        height: 600px;
    }
}

@media screen and (max-width: 500px) {
    .payment__delivery {
        padding: 1.5em 1.8em;
    }

    .payment__delivery--header {
        font-size: 0.8em;
    }

    .payment__delivery--label {
        font-size: 0.7em;
    }

    .payment__delivery--detail {
        margin-top: 1em;
        input {
            font-size: 0.80em;
        }

        textarea {
            font-size: 0.80em;
        }
    }

    .payment__delivery--notice {
        h3 {
            font-size: 1.2em;
        }
        p {
            font-size: 0.8em;
        }
    }

    .payment__checkout-panel {
        padding: 1.5em 1.8em;
    }

    .payment__title {
        font-size: 1.2em;
        margin-bottom: 1.5em;
    }

    .payment__detail {
        label {
            font-size: 1em;
        }
        input {
            font-size: 0.8em;
        }
    }

    .payment__card-label {
        font-size: 1em;
    }

    .payment__success--header {
        h1 {
            font-size: 1.5em;
        }
        h2 {
            font-size: 1.3em;
        }
    }

    .payment__success--link {
        font-size: 1.05em;
    }

    .payment__success--text {
        font-size: 1em;
    }
}