// .navbar {
//   position: fixed;
//   top: 0;
//   width: 100%;
// }

// /********** navbar top **********/

// .navbar__top {
//   position: relative;
//   background: #f5f5f5;
//   height: 36px;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;
//   padding: 0 38px;
// }

// .navbar__top__item {
//   padding: 0 12px 0 12px;
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//   &:hover {
//     color: #757575;
//     cursor: pointer;
//   }
// }

// /********** navbar bottom **********/

// .navbar__bottom {
//   height: 60px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 4px 38px;
// }

// /********** logo **********/

// .logo__section {
//   height: 100%;
//   flex: 1;

//   .logo {
//     height: 100%;
//   }
// }

// /********** main menu **********/

// .menu__section {
//   flex: 2;
// }

// .menuList {
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
// }

// .menuLink {
//   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//   font-size: 16px;
//   font-weight: 500;
//   padding: 16px 12px 16px 12px;

//   &:hover {
//     border-bottom: 3px solid #111;
//     cursor: pointer;
//   }
// }

// .joinMessage {
//   display: none;
// }

// /********** sub Menu **********/

// .subMenuWrapper {
//   padding: 16px 40px 40px 40px;
//   position: absolute;
//   z-index: 3;
//   background-color: #fff;
//   right: 0px;
//   top: 96px;
//   min-height: 100px;
//   width: 100%;
// }

// .subMenuList {
//   display: flex;
//   justify-content: space-around;
//   padding: 16px 8px 0 8px;

//   a {
//     font-size: 16px;
//     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     font-weight: 500;
//     cursor: pointer;
//   }
// }

// #subMenuOne,
// #subMenuTwo,
// #subMenuThree {
//   visibility: hidden;
//   transform: translateY(0%);
// }

// #menuOne:hover #subMenuOne,
// #menuTwo:hover #subMenuTwo,
// #menuThree:hover #subMenuThree {
//   visibility: visible;
//   transition: visibility 0ms linear 0.1s;
//   backdrop-filter: blur(4px);

//   ul {
//     opacity: 1;
//     transform: translateY(10%);
//     transition: transform 0.3s ease, opacity 0.2s linear;
//     transition-delay: 0.1s;
//   }
// }

// /********** cart and burger icon **********/

// .icon__section {
//   flex: 1;
//   display: flex;
//   justify-content: flex-end;
//   align-items: center;

//   a {
//     padding: 8px;
//     height: 42px;
//     width: 42px;
//     margin-left: 5px;
//     text-align: center;
//     font-size: 18px;
//     cursor: pointer;

//     &:hover {
//       background-color: #e5e5e5;
//       border-radius: 50%;
//     }
//   }
// }

// .burgerMenu {
//   border: none;
//   padding: 8px;
//   height: 42px;
//   width: 42px;
//   background-color: #fff;
//   display: none;
//   cursor: pointer;

//   &:hover {
//     background-color: #e5e5e5;
//     border-radius: 50%;
//   }
// }

// /********** banner **********/

// .banner__section {
//   height: auto;
//   min-height: 58px;
//   transition: all 0.5s;
//   box-shadow: inset 0 -1px 0 0 #e5e5e5;
//   position: relative;
//   background: #f5f5f5;
//   overflow: hidden;
//   padding-top: 10px;
// }

// /********** blur mask **********/

// .blurMask {
//   height: 100vh;
//   width: 100vw;
//   position: absolute;
// }

// .blurMaskClosed {
//   visibility: hidden;
//   z-index: 3;
// }

// .blurMaskOpen {
//   backdrop-filter: blur(4px);
//   visibility: visible;
//   z-index: 1;
// }

// .blurMaskHover {
//   height: 100vh;
//   width: 100vw;
//   position: absolute;
//   opacity: 1;
//   backdrop-filter: blur(4px);
//   z-index: 1;
//   visibility: visible;
// }

// .blurMaskUnHover {
//   height: 100vh;
//   width: 100vw;
//   position: absolute;
//   opacity: 1;
//   backdrop-filter: blur(4px);
//   z-index: 3;
//   visibility: hidden;
// }

// /********** tablet and mobile **********/

// @media screen and (max-width: 1024px) {
//   .menu__section {
//     position: absolute;
//     right: 0px;
//     height: 100vh;
//     width: 320px;
//     top: 0px;
//     background-color: #fff;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: space-between;
//     box-shadow: -1px 0px 5px 0 #e5e5e5;
//     padding: 0 36px 100px 36px;
//     z-index: 2;
//   }

//   .menuList {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     justify-content: flex-start;
//     width: 100%;
//     margin-top: 26px;
//   }

//   .menuLink {
//     font-size: 24px;

//     &:hover {
//       border-bottom: none;
//     }
//   }

//   .menuSectionClosed {
//     transform: translateX(100%);
//     transition: transform 0.3s ease-in-out;
//   }

//   .menuSectionOpen {
//     transform: translateX(0);
//     transition: transform 0.3s ease-in-out;
//   }

//   #menuOne,
//   #menuTwo,
//   #menuThree {
//     padding: 10px 0;
//     position: relative;
//     width: 100%;

//     a:first-child {
//       &::after {
//         content: '>';
//         font-size: 20px;
//         font-weight: 400;
//         position: absolute;
//         right: 0;
//         top: 12px;
//       }
//     }
//   }

//   .subMenuWrapper {
//     display: none;
//   }

//   .burgerMenu {
//     display: block;
//   }

//   .joinMessage {
//     display: block;
//     font-size: 20px;
//     color: #757575;
//     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     padding: 0px 0px 16px 0px;
//     font-weight: 500;

//     a {
//       color: #111111;
//       font-weight: 500;
//       font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
//       cursor: pointer;
//     }
//   }
// }

/************** New Nav ****************/

$primary-text-color: #fff;
$second-text-color: #ffa300;

.outerWrapper {
  width: 100%;
  background-color: #1f2635;
  color: $primary-text-color;
  margin: 0 auto;
  box-sizing: border-box;
}

.innerWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 16px 8px;
  position: relative;
}

/*---------- Logo ----------*/

.logoSection {
  display: flex;
  width: 40%;

  a {
    color: $primary-text-color;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: $primary-text-color;
      text-decoration: none;
    }
  }
}

.logoImage {
  width: 40px;
  margin-right: 16px;
}

/*---------- Search ----------*/

.searchSection {
  display: flex;
  width: 100%;
}

.searchSectionInner {
  border: 1px solid $second-text-color;
  border-right: 1.6px solid rgba(255, 163, 0, 0.8);
  border-left: 1.6px solid rgba(255, 163, 0, 0.8);
  border-radius: 30px;
  position: relative;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.dropdownGroup {
  width: 30%;
  height: 40px;
  position: relative;
  margin-bottom: 0;
  display: inline-block;
}

.dropdownToggle {
  width: 100%;
  height: 50px;
  color: #ffa300;
  border-radius: 30px;
  line-height: 28px;
  transition: transform 0.4s ease;
}

.dropdownBtn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.arrow {
  margin-left: 10px;
  border: solid $second-text-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.dropdownBtn:hover .arrow {
  transform: rotate(225deg);
}

.dropdownContent {
  width: 250px;
  position: absolute;
  z-index: 17;
  padding: 0;
  background-color: #1f2635;
  top: 56px;
  box-shadow: unset;
  border: 0;
  display: none;

  ul {
    margin-bottom: 0;
  }
}

.dropdownBtn:hover + .dropdownContent {
  display: block;
}

.dropdownItem {
  padding: 10px;
}

.dropdownLabel {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.dropdownIcon {
  font-size: 24px;
  color: #b3b3b3;
  margin-right: 20px;
}

.dropdownInput {
  display: none;
}

.searchSectionDivider {
  border-right: 1px solid #3f5277;
  height: 25px;
}

.searchGroup {
  width: 70%;
  display: inline-block;
}

.searchInput {
  background-color: transparent;
  border: none;
  height: 40px;
  font-size: 16px;
  padding-left: 50px;
}

.searchInputLabel {
  display: inline-block;
  width: 50px;
  height: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  top: 0;
  left: 0;
}

.gamepad {
  color: $second-text-color;
  font-size: 18px;
}

/*---------- Account ----------*/

.accountSection {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 190px;
}

.btnLogin {
  color: $second-text-color;
  margin-right: 20px;

  &:hover {
    color: $second-text-color;
  }
}

.btnSignup {
  background-color: $second-text-color;
  width: 96px;
  font-weight: bold;
  border-radius: 4px;
  color: #141922;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;

  &:hover {
    color: #141922;
    text-decoration: none;
    box-shadow: rgba(255, 255, 255, 0.4) 0 -4px 4px inset;
  }
}
